// ReactQuillの整形

.quill {
  font-family: inherit; // Typographyのthemeを適応するためのinherit
  border-radius: 24px; // Paperに合わせて
  .ql-container {
    font-family: inherit; // Typographyのthemeを適応するためのinherit
    .ql-editor {
      font-family: inherit; // Typographyのthemeを適応するためのinherit

      h1 {
          margin-bottom: 1em;
      }
      h2 {
        margin-bottom: 0.7em;
      }
      h3 {
        margin-bottom: 0.6em;
      }
      p, ul, ol, blockquote {
        margin-bottom: 0.5em;
      }

      img {
        max-width: 100%;
      }

      .ql-video {
        width: 80vw;
        height: calc(80vw * 9 / 16);
        margin: auto;
        // max-width: 100%; //  すでについてる？
      }
    }
  }
  .ql-toolbar {
    font-family: inherit; // Typographyのthemeを適応するためのinherit
    

    position: sticky;
    top: 0;
    z-index: 100;
    background: white;

    // ●●●ツールバーのサイズ調整↓
    // ※やっみたがかなり構造が複雑できれいに拡大するのが難しい。divとspanとsvgが入り組んでいる。heightやfontSizeをうまく適応しにくい？
    // svg {
    //   height: calc(100% * 1.5);
    // }

    // button {
    //   // height: calc(100% * 1.5);
    //   svg {
    //     height: calc(100% * 1.5);
    //   }
    // }
    // ●●●ツールバーのサイズ調整⇡
  }

  @media only screen and (min-width: 480px) {
    .ql-container {
      min-height: 20vh;
      // Editor, ContentModal共通のstyle
      .ql-editor {
        font-size: 1.3rem;

  
      }
    }
  }
  
}
